template(name="ooTabs")
  div(ooTabs)
    each tabs.tabsArray
      div(ooTab-item="" class="{{isActive}}")
        button.js-setActiveTab(btn="block text:neutral-dim neutral-tint uppercase material small") {{label}}
  if tabs.parentData
    +with tabs.parentData
      +Template.dynamic template=activeTabTemplate
  else
    +Template.dynamic template=activeTabTemplate
